
<h3>Manufacturers:</h3>
<div id="tag_cloud">
  <% tag_cloud Make.tag_counts, %w{s m l} do |tag, css_class| %>
    <p><%= link_to tag.name, makes_tag_path(tag.name), class: css_class %></p>
  <% end %>
</div>

