<% title("Home Page") %>
<h1 style="text-align:right">
  #supercarindex that shit, yo
</h1>
<h3 style="text-align:right"> supercarindex.net </h3>

<br>
<%= link_to image_tag("DSC_00642.jpg"), supercars_path %>

