
<h3>Cities:</h3>
<div id="tag_cloud">
  <% tag_cloud City.tag_counts, %w{s m l} do |tag, css_class| %>
    <p><%= link_to tag.name, cities_tag_path(tag.name), class: css_class %></p>
  <% end %>
</div>